button{
    color: blue;
}

body{
    background-color:black;
}
p{
    color: antiquewhite;
}
h1{
    color: dodgerblue;
}
.scroll-box {
    width: 300px; /* Set the width of the box */
    height: 150px; /* Set the fixed height of the box */
    border: 1px solid #ccc; /* Add a visible border */
    overflow: auto; /* Add scrollbars only when content overflows */
    padding: 10px; /* Optional: Add some inner spacing */
}